@model myhealthhub.web.Models.Baseline.BaselineQueryStringModel
@using myhealthhub.web.Services.Graph
@{
    ViewData["Title"] = "Baseline Form";
}


<h2>Baseline Form</h2>

@if(ViewBag.ErrorMessage != "ok")
{
    <div class="alert alert-danger" role="alert">
        <i class="fa-solid fa-hexagon-exclamation"></i>
        @ViewBag.ErrorMessage
    </div>

    <a href="@Url.Action("Index", "Dashboard")" class="btn btn-primary" target="_self">
        <i class="fa-solid fa-arrows-rotate"></i>
        Start over
    </a>
}
else
{
    <div class="alert alert-secondary" role="alert" style="margin-top: 20px;">
        <ul>
            <li>
                <strong>Patient internal code:</strong> @Model.PatientInternalId
            </li>
            <li>
                <strong>Visit Id:</strong> @Model.VisitId
            </li>
            <li>
                <strong>Physician in charge:</strong> @User.GetUserGraphDisplayName()
            </li>
        </ul>
    </div>
    <form asp-action="Create" asp-controller="BaselineForm" method="post" id="frmBaseline" name="frmBaseline">
        
        <!-- Section 1: Header -->
        <fieldset class="fieldset" id="fsHeader" name="fsHeader">
            <legend class="legend">Header</legend>
                <div class="row g-2">

                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="SiteName" name="SiteName">
                            <label for="SiteName">Site name</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="DateTimeBaseline" name="DateTimeBaseline">
                            <label for="DateTimeBaseline">Date of baseline (mm/dd/yyyy)</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="SiteId" name="SiteId">
                            <label for="SiteId">Site ID</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="SubjectId" name="SubjectId">
                            <label for="SubjectId">Subject ID</label>
                        </div>
                    </div>

                </div>
        </fieldset>
        <!-- End section 1 -->

        <!-- Section 2: Subject Demographics -->
        <fieldset class="fieldset" id="fsSubjectDemographics" name="fsSubjectDemographics" style="margin-top: 20px;">
            <legend class="legend">1. Subject Demographics</legend>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <select class="form-select" id="Sex" name="Sex">
                                <option value="" selected></option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <label for="Sex">Sex at Birth</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="AgeConsent" name="AgeConsent">
                            <label for="AgeConsent">Age at time of consent (Ex. 38)</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <select class="form-select" id="Ethinicity" name="Ethinicity">
                                <option value="" selected></option>
                                <option value="Hispanic or Latino">Hispanic or Latino</option>
                                <option value="Not Hispanic or Latino">Not Hispanic or Latino</option>
                                <option value="Declined/Unknown">Declined/Unknown</option>
                            </select>
                            <label for="Ethinicity">Subject's ethinicity</label>
                        </div>
                    </div>
                </div>
                <div class="row g-2" style="margin-top: 5px;">
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="Weight" name="Weight">
                            <label for="Weight">Weight</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="Height" name="Height">
                            <label for="Height">Height</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="BloodPressure" name="BloodPressure">
                            <label for="BloodPressure">Blood Pressure</label>
                        </div>
                    </div>
                </div>
                <div class="row g-2" style="margin-top: 10px;">
                    <div class="col-md">
                        <div class="form-floating">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="RaceAmericanIndian" name="RaceAmericanIndian" value="American Indian or Alaskan Native">
                                <label class="form-check-label" for="RaceAmericanIndian">American Indian or Alaskan Native</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="RaceAsian" name="RaceAsian" value="Asian (Chinese, Korean, Japanese, Other)">
                                <label class="form-check-label" for="RaceAsian">Asian (Chinese, Korean, Japanese, Other)</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="RaceBlackAfrican" name="RaceBlackAfrican" value="Black or African American">
                                <label class="form-check-label" for="RaceBlackAfrican">Black or African American</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="RaceNativeHawaian" name="RaceNativeHawaian" value="Native Hawaiian or Other Pacific Islander">
                                <label class="form-check-label" for="RaceNativeHawaian">Native Hawaiian or Other Pacific Islander</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="RaceWhiteCaucasian" name="RaceWhiteCaucasian" value="White or Caucasian">
                                <label class="form-check-label" for="RaceWhiteCaucasian">White or Caucasian</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="RaceOther" name="RaceOther" value="Other">
                                <label class="form-check-label" for="RaceOther">Other</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="RaceDeclined" name="RaceDeclined" value="Declined or unable to disclose">
                                <label class="form-check-label" for="RaceDeclined">Declined or unable to disclose</label>
                            </div>
                        </div>
                    </div>
                </div>
        </fieldset>
        <!-- End section 2 -->

        <!-- Section 3: Occupational and Lifestyle -->
        <fieldset class="fieldset" id="fsOccupationalLifestyle" name="fsOccupationalLifestyle" style="margin-top: 20px;">
            <legend class="legend">2. Occupational and Lifestyle Information</legend>
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" id="WorkSituation" name="WorkSituation">
                                <option value="" selected></option>
                                <option value="Full Time">Full Time</option>
                                <option value="Part Time">Part Time</option>
                                <option value="Full-time family caregiver">Full-time family caregiver</option>
                                <option value="Part Time Family Caregiver">Part Time Family Caregiver</option>
                                <option value="Part Time Work and Part Time Family Caregiver">Part Time Work and Part Time Family Caregiver</option>
                                <option value="Not Working">Not Working</option>
                                <option value="Disabled">Disabled</option>
                            </select>
                            <label for="WorkSituation">Current Work Status</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" id="PainPreventToWork" name="PainPreventToWork">
                                <option value="" selected></option>
                                <option value="N/A">N/A</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="Reduced or Modified Duty">Reduced or Modified Duty</option>
                        </select>
                        <label for="PainPreventToWork">Pain causing the subject to stop working?</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="DaysMissedDuePain" name="DaysMissedDuePain">
                        <label for="DaysMissedDuePain">Days missed last month due to pain?</label>
                    </div>
                </div>
            </div>

            <div class="row g-2" style="margin-top: 5px;">
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" id="ImpactPainInLife" name="ImpactPainInLife">
                            <option value="" selected></option>
                            <option value="None">None</option>
                            <option value="Very Mild">Very Mild</option>
                            <option value="Mild">Mild</option>
                            <option value="Moderate">Moderate</option>
                            <option value="Severe">Severe</option>
                            <option value="Very Severe">Very Severe</option>
                        </select>
                        <label for="ImpactPainInLife">Impact of pain have on subject's life</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" id="ExerciseFrequence" name="ExerciseFrequence">
                            <option value="" selected></option>
                            <option value="> 5 Days/Week">More than 5 Days/Week</option>
                            <option value="3-5 Days/Week">3-5 Days/Week</option>
                            <option value="1-2 Days/Week">1-2 Days/Week</option>
                            <option value="< 1 Day/Week">Less then 1 Day/Week</option>
                            <option value="None">None</option>
                        </select>
                        <label for="ExerciseFrequence">Frequency of subject's exercise</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" id="InsuranceSituation" name="InsuranceSituation">
                            <option value="" selected></option>
                            <option value="Commercial">Commercial</option>
                            <option value="Government">Government</option>
                            <option value="Decline to answer">Decline to answer</option>
                        </select>
                        <label for="InsuranceSituation">Insurance Status</label>
                    </div>
                </div>
            </div>

            <div class="row g-2" style="margin-top: 5px;">
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" id="WorkCompensation" name="WorkCompensation">
                            <option value="" selected></option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                        <label for="WorkCompensation">Is the subject on Worker's compensation?</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" id="ActiveLitigation" name="ActiveLitigation">
                            <option value="" selected></option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                        <label for="ActiveLitigation">Litigation related to the pain?</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" id="SmokerStatus" name="SmokerStatus">
                            <option value="" selected></option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                        <label for="SmokerStatus">Is the subject currently a smoker?</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <!-- End section 3 -->

        <button type="submit" class="btn btn-success" style="margin-top: 20px;">
            <i class="fa-solid fa-floppy-disk"></i>
            Save
        </button>
    </form>
}